body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.slika{
    width: 100%;
}

#about{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.boy{
    width: 70%;
}

 p:nth-of-type(2){
    color: red;
}
input{
    width: 100%;
    height: 30px;
}
label{
    margin-top: 20px;
}
button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: gray;
    color: white;
    border: none;
}
a{
    color: black;
}

@media screen and (min-width: 998px) {
    .sliki{
        column-count: 2;
        gap: 0;
    }
    
}
